{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ 'pages.change_password.title'|trans({}, 'UserBundle') }} - {{ parent() }}{% endblock %}

{% block fos_user_content %}

    <h1>{{ 'pages.change_password.title'|trans({}, 'UserBundle') }}</h1>
    <div class="panel panel-default">
        <div class="panel-body">
            {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
        </div>
    </div>

{% endblock fos_user_content %}
