{% extends 'layout.html.twig' %}

{% block bodytag %} class="specification"{% endblock %}

{% block body %}

    <div class="specification">
        {{ 'pages.homepage'|trans({}, 'InfoBundle')|raw }}
        <div class="spec-edge spec-edge1"></div>
        <div class="spec-edge spec-edge2"></div>
        <div class="spec-edge spec-edge3"></div>
        <div class="spec-edge spec-edge4"></div>
    </div>

{% endblock %}
